/.idea/.name
/Client/obj/Debug/net10.0/compressed/0dbdqkdglr-{0}-hyf9jios8w-hyf9jios8w 2.gz
/Client/obj/Debug/net10.0/compressed/704emtzhve-{0}-8ghgfkpryb-8ghgfkpryb 2.gz
/Client/obj/Debug/net10.0/apphost 2
/ManagementEventsAPI/obj/Debug/net10.0/apphost 2
/Client/obj/Debug/net10.0/Client.AssemblyInfo 2.cs
/Client/obj/Debug/net10.0/Client.AssemblyInfoInputs 2.cache
/Client/obj/Debug/net10.0/Client.csproj.CoreCompileInputs 2.cache
/Client/obj/Debug/net10.0/Client.GeneratedMSBuildEditorConfig 2.editorconfig
/Client/obj/Debug/net10.0/Client.genruntimeconfig 2.cache
/Client/obj/Debug/net10.0/Client.MvcApplicationPartsAssemblyInfo 2.cache
/Client/obj/Debug/net10.0/Client.sourcelink.json
/Client/bin/Debug/net10.0/Client 2.dll
/Client/obj/Debug/net10.0/ref/Client 2.dll
/Client/obj/Debug/net10.0/refint/Client 2.dll
/Client/obj/Debug/net10.0/Client 2.dll
/Client/bin/Debug/net10.0/Client 2.pdb
/Client/obj/Debug/net10.0/Client 2.pdb
/Data/obj/Debug/net10.0/Data.AssemblyInfo 2.cs
/Data/obj/Debug/net10.0/Data.AssemblyInfoInputs 2.cache
/Data/obj/Debug/net10.0/Data.csproj.AssemblyReference 2.cache
/Data/obj/Debug/net10.0/Data.csproj.CoreCompileInputs 2.cache
/Data/bin/Debug/net10.0/Data.deps 2.json
/Data/obj/Debug/net10.0/Data.GeneratedMSBuildEditorConfig 2.editorconfig
/Data/obj/Debug/net10.0/Data.genruntimeconfig 2.cache
/Data/bin/Debug/net10.0/Data.runtimeconfig 2.json
/Data/obj/Debug/net10.0/Data.sourcelink.json
/Data/bin/Debug/net10.0/Data 2.dll
/Data/obj/Debug/net10.0/ref/Data 2.dll
/Data/obj/Debug/net10.0/refint/Data 2.dll
/Data/obj/Debug/net10.0/Data 2.dll
/Data/bin/Debug/net10.0/Data 2.pdb
/Data/obj/Debug/net10.0/Data 2.pdb
/Client/obj/Debug/net10.0/compressed/e957amgxnl-{0}-9i5yy2xbrz-9i5yy2xbrz.gz
/Client/obj/Debug/net10.0/compressed/e957amgxnl-{0}-bs3s026ezg-bs3s026ezg 2.gz
/EventManagementSystem_OferAvioz_212052385.postman_collection.json
/FinalProject_ServerSide_OferAvioz_212052385.docx
/GitHub_OferAvioz_212052385.docx
/GitHub_OferAvioz_212052385.pdf
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.AssemblyInfo 2.cs
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.AssemblyInfoInputs 2.cache
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.csproj.AssemblyReference 2.cache
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.csproj.CoreCompileInputs 2.cache
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.GeneratedMSBuildEditorConfig 2.editorconfig
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.MvcApplicationPartsAssemblyInfo 2.cache
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.MvcApplicationPartsAssemblyInfo 2.cs
/ManagementEventsAPI/obj/Debug/net10.0/ManagementEventsAPI.sourcelink.json
/ManagementEventsAPI/bin/Debug/net10.0/ManagementEventsAPI 2
/ManagementEventsAPI/bin/Debug/net10.0/ManagementEventsAPI 2.dll
/ManagementEventsAPI/bin/Debug/net10.0/ManagementEventsAPI 2.pdb
/ManagementEventsAPI/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources 2.dll
/ManagementEventsAPI/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources 2.dll
/ManagementEventsAPI/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources 2.dll
/ManagementEventsAPI/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources 2.dll
/Client/obj/Debug/net10.0/compressed/q1c3x1jte7-{0}-4rqe3gppev-4rqe3gppev 2.gz
/Client/obj/Debug/net10.0/rjimswa.dswa.cache 2.json
/Client/obj/Debug/net10.0/rjsmcshtml.dswa.cache 2.json
/Client/obj/Debug/net10.0/rjsmrazor.dswa.cache 2.json
/ManagementEventsAPI/obj/Debug/net10.0/rpswa.dswa.cache 2.json
/Client/obj/Debug/net10.0/compressed/smeloy1tgt-{0}-8zf83txl1s-8zf83txl1s 2.gz
/Client/obj/Debug/net10.0/compressed/smeloy1tgt-{0}-es8lszg8tz-es8lszg8tz.gz
/Client/obj/Debug/net10.0/staticwebassets.build.json 2.cache
/Client/obj/Debug/net10.0/staticwebassets.build 2.json
/Client/obj/Debug/net10.0/staticwebassets.development 2.json
/Client/obj/Debug/net10.0/swae.build.ex 2.cache
/ManagementEventsAPI/bin/Debug/net10.0/System.Configuration.ConfigurationManager 2.dll
/Client/obj/Debug/net10.0/compressed/tn8osfr0r7-{0}-f4pi440c6p-f4pi440c6p 2.gz
/Client/obj/Debug/net10.0/compressed/tn8osfr0r7-{0}-ggvyhgn36e-ggvyhgn36e.gz
/.idea/vcs.xml
/.idea/workspace.xml
/Client/obj/Debug/net10.0/compressed/wuns14m6a0-{0}-3p6xt9dmlw-3p6xt9dmlw 2.gz
/Client/obj/Debug/net10.0/compressed/wuns14m6a0-{0}-tus42m7bni-tus42m7bni.gz
/Client/obj/Debug/net10.0/compressed/xt7q0ddhh5-{0}-3thva0fzwn-3thva0fzwn 2.gz
/Client/obj/Debug/net10.0/compressed/xt7q0ddhh5-{0}-bsqj6kvm9x-bsqj6kvm9x.gz
